/* Shared Base Styles */
.body {
  background: linear-gradient(101deg, #0e2148, #483aa0);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
}

.bodyInside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.body h4,
.body p {
  color: #fff;
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.body .PP {
  font-size: 12px;
  margin-bottom: 20px;
}

.body .PP a {
  color: #00eeff;
}

/* Phones */
@media (max-width: 430px) {
  .body {
    flex-direction: column;
    height: auto;
    padding: 2em;
  }

  .body h4 {
    font-size: 36px;
  }

  .body p {
    font-size: 18px;
  }
}

/* Tablets and Big Phones */
@media (min-width: 431px) and (max-width: 768px) {
  .body {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: auto;
    padding: 2em;
  }

  .bodyInside {
    height: 800px;
    justify-content: center;
  }

  .body h4 {
    font-size: 36px;
  }

  .body p {
    font-size: 18px;
  }
}

/* Laptops and Desktops */
@media (min-width: 769px) and (max-width: 2650px) {
  .body {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 86vh;
    padding: 0 120px;
  }

  .bodyInside {
    width: 50%;
    justify-content: center;
  }

  .body h4 {
    font-size: 2em;
  }

  .body p {
    font-size: 18px;
  }
}
