/* Base Styles */
.heading:hover {
  cursor: pointer;
}

.about-us button {
  all: unset;
  cursor: pointer;
}

.heading svg {
  width: 20px;
  height: 20px;
}

.heading h1 {
  font-family: "Lily Script One", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Phones */
@media (max-width: 430px) {
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background: linear-gradient(135deg, #0e2148, #483aa0);
    padding: 0 20px 0 25%;
    width: 100%;
    height: 56px;
  }
}

/* Tablets and Big Phones */
@media (min-width: 431px) and (max-width: 768px) {
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background: linear-gradient(135deg, #0e2148, #483aa0);
    padding: 0 50px 0 8%;
    width: auto;
    height: 56px;
  }
}

/* Laptops and Desktops */
@media (min-width: 769px) and (max-width: 2650px) {
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background: linear-gradient(135deg, #0e2148, #483aa0);
    padding: 0 8%;
    width: auto;
    height: 9vh;
  }
}
