/*Phones */
@media (max-width: 430px) {
  .sampleSection {
    width: 100%;
    height: auto;
    max-width: 360px;
    overflow: hidden;
    position: relative;
  }

  .sampleWrapper {
    display: flex;
    width: max-content;
    gap: 20px;
    animation: slide 10s linear infinite;
  }

  .sample {
    width: 290px;
    height: auto;
    max-width: 300px;
    flex-shrink: 0;
    object-fit: cover;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(
        -50%
      ); /* Shift by HALF the width for seamless loop */
    }
  }
}

/*Tablets and big Phones */
@media (min-width: 431px) and (max-width: 768px) {
  .sampleSection {
    width: 100%;
    height: 700px; /* Adjust based on how many images you want visible */
    max-width: 700px;
    overflow: hidden;
    position: relative;
  }

  .sampleWrapper {
    display: flex;
    flex-direction: column; /* Change direction to vertical */
    gap: 20px;
    animation: slide 10s linear infinite;
  }

  .sample {
    width: auto;
    height: auto;
    max-width: 270px;
    flex-shrink: 0;
    object-fit: cover;
  }

  /* Seamless vertical loop */
  @keyframes slide {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}

/*Laptops and desktops*/
@media (min-width: 769px) and (max-width: 2650px) {
  .sampleSection {
    width: 40%;
    height: 90%; /* Adjust based on how many images you want visible */
    max-width: 700px;
    overflow: hidden;
    position: relative;
  }

  .sampleWrapper {
    display: flex;
    flex-direction: column; /* Change direction to vertical */
    align-items: center;
    gap: 20px;
    animation: slide 10s linear infinite;
  }

  .sample {
    width: 80%;
    height: auto;
    max-width: 700px;
    flex-shrink: 0;
    object-fit: cover;
  }

  /* Seamless vertical loop */
  @keyframes slide {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}
